{% extends "base.html" %}

{% block title %}Все посты{% endblock %}

{% block content %}
<h1>Все посты</h1>

<div class="row">
    {% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-3 p-3">
            <h5>{{ post.title }}</h5>
            <p>{{ post.desc|truncatewords:20 }}</p>
            <p>{{ post.year }}</p>
            <p>{{ post.pub_date }}</p>
            {% if post.author == request.user %}
              <p>Вы</p>
            {% else %}
              <p>{{ post.author }}</p>
            {% endif %}
            <a href="{% url 'posts:post' post.pk %}" class="btn btn-primary">Читать</a>
            {% if post.author == request.user %}
              <a href="{% url 'posts:delete' post.pk %}" class="btn btn-primary">Удалить</a>
            {% endif %}
            {% if post.author == request.user %}
              <a href="{% url 'posts:edit' post.pk %}" class="btn btn-primary">Редактировать</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
